@font-face {
	font-family: "OpenSans"; /* Имя шрифта */
	src: url(../fonts/Open-Sans/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "OpenSansBold"; /* Имя шрифта */
	src: url(../fonts/Open-Sans/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "OpenSansSemiBold"; /* Имя шрифта */
	src: url(../fonts/Open-Sans/OpenSans-SemiBold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "OpenSansLight"; /* Имя шрифта */
	src: url(../fonts/Open-Sans/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}
body {
	margin: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}


h1, h2, h3, h4,  h5, h6, p, span, a  {
	margin: 0;
	padding: 0;
	font-family: "OpenSans", sans-serif;
	line-height: 1;
	display: inline-block;
	color: #000;
}
div {
	color: #000;
	font-family: "OpenSansSemiBold",sans-serif;
}
.btn {
	text-decoration: none;
	text-transform: none;
	min-width: 195px;
	background-color: #fde428;
	color: #000;
	border-radius: 5px;
	outline: none;
	border: none;
	display: block;
	margin: 16px auto;
	line-height: 50px;
	text-align: center;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	cursor: pointer;
	transition: 0.4s;
}
.btn:hover {
	background-color: rgb(254,230,80);
}
.btn:active, .btn:focus {
	background-color: rgb(254,230,80);
}
.btn.__sign_up_with {
	width: 215px;
}
.sign-in {
	max-width: 1170px;
	margin: 0 auto;
	height: 560px;
	padding-top: 125px;
	text-align: center;
}
.__with {
	padding-top: 60px;
}
.sign-in-h1 {
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	width: 100%;
	font-family: "OpenSansBold", sans-serif;
}
.sing-in__sign-up {
	text-align: center;
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	margin-bottom: 25px;
}
.sing-in__sign-up__a {
	color: #003471;
	border-bottom: 1px solid #003471;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}
.sing-in__input-btn .input {
	width: 620px;
	margin: 10px auto;
	position: relative;
}
.sing-in__input-btn .input.login_teacher {
	margin-top: 14px;
	border-top: 1px solid #efefef;
	padding-top: 13px;
}
.inp {
	position: absolute;
	width: 304px;
	left: calc(50% - 150px);
	border: 2px solid #efefef;
	border-radius: 3px;
	line-height: 35px;
	outline: none;
	padding: 0 0 0 10px;
	color: #333;
}
.txt {
	width: 140px;
	display: inline-block;
	text-align: right;
	line-height: 39px;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
}
.sing-in__forgot-pass {
	height: 35px;
	text-align: center;
	width: 100%;
}



.__with-referal {
	height: 56px;
	padding: 0 45px;
	background-color: #eee;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto 20px;
	display: inline-block;
}
.__with-referal span {
	line-height: 56px;
	font-size: 16px;
}
.__with-parent, .__with_era {
	font-family: "OpenSans", sans-serif;
}
.__with-referal-name {
	font-family: "OpenSansSemiBold", sans-serif;
}
.__blue {
	color: #2e5797;
	display: inline-block;
	padding-right: 15px;
}
.sing-in__input-btn.__with-form, .sing-in__input-btn.__without-form {
	text-align: left;
}
.__red {
	color: #ed1c24;
}
.checkbox {
	text-align: left;
	font-size: 14px;
	width: 300px;
	font-family: "OpenSans", sans-serif;
	margin: 15px auto 10px;
	position: relative;
	padding-left: 50px;
	line-height: 1;
}
#checkBox {
	position: absolute;
	top: 12px;
	left: 23px;
	border-radius: 0;
	margin: 0;
}
.a {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.a-head {
	height: 90px;
	width: 100%;	
	background-color: rgba(255,255,255,0.8);
	display: flex;
	flex-wrap: wrap;
}
.a-head-wrap {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.h-logo {
	display: inline-block;
	float: left;
	width: 70px;
	height: 90px;
	background-position: center;
	background-repeat: no-repeat;
}
.h-name {
	float: left;	
	display: inline-block;	
	line-height: 90px;	
	font-family: "OpenSansBold",sans-serif;
	padding-left: 8px;
	font-size: 32px;
}
.h-cnt {
	float: right;
	height: 90px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	align-items: center;
	right: 0;
	font-size: 14px;
}
.h-cnt i {
	display: inline-block;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #363636;
	line-height: 41px;
	margin-right: 15px;
	color: #656565;
	float: left;
}
.h-cnt-office,.h-cnt-centre {
	font-family: "OpenSans",sans-serif;
	color: #333;
	padding-right: 25px;
	line-height: 1.4;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-decoration: none;
}
.h-cnt-text {
	float: left;
	color: #333;
	font-family: "OpenSans",sans-serif;
}
.a-head-2 {
	background-color: #2e5797;
	height: 55px;
	width: 100%;
	box-shadow: 0 5px 20px #888;
	top: 0;
	position: sticky;
	z-index: 4;
}
.a-head-2-cnt {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.a-head-2-mnu {
	list-style-type: none;
	padding: 0;	
	display: inline-block;
	float: left;
	margin: 0;

}
.a-head-2-mnu li {
	display: inline-block;
	line-height: 55px;
	color: #fff;
	padding: 0 20px;
	font-family: "OpenSans",sans-serif;
	position: relative;
}
.a-head-2-mnu li:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 0;
	height: 3px;
	background-color: #fde428;
	transition: 0.4s;
}
.a-head-2-mnu li:hover:before {
	width: calc(100% - 40px);
}
.a-head-2-mnu li:first-child {
	cursor: pointer;
}
.a-head-2-mnu li:first-child:hover .a-dropdown-ul{
	display: block;
	visibility: visible;
	opacity: 1;
}
.a-dropdown-ul {
	position: absolute;
	top: 55px;
	left: 0;
	background-color: #fff;
	border-radius: 4px;
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;
	padding: 0;
}

.a-dropdown-ul li {
	color: #000;
	line-height: 1.5;
	font-size: 14px;
	float: left;
	line-height: 22px;
	padding: 0;
	width: 100%;
}
.a-dropdown-ul li:before{
	display: none;
}
.a-dropdown-ul li:last-child {
	border-bottom: none;
}
.a-dropdown-ul li:after {
	display: none;
}
.a-dropdown-ul li a {
	line-height: 22px; 
	padding: 10px 15px;
	border-top: 1px dashed rgba(255, 255, 255, 0.3);
	background-color: #2e5797;
	display: inline-block;
	width: 100%;
	transition: 0.2s;
}
.a-dropdown-ul li a:hover {
	color: #fde428;
}





.a-head-2-mnu li:after {
	content: '';
	position: absolute;
	right: -1px;
	top: 19px;
	height: 17px;
	width: 1px;
	background-color: rgba(255,255,255,0.9);
}
.a-head-2-mnu li:last-child:after {
	display: none;
}
.a-head-2-mnu li a {
	text-decoration: none;
	color: #fff;
}
.a-head-2-reg {
	text-decoration: none;
	float: right;
}
.a-head-2-reg-sign {
	line-height: 55px;
	color: #fff;
	width: 214px;
	background-color: #162a49;
	text-align: center;
	float: left;
}
.a-head-2-reg-sign a {
	color: #fff;
}
.a-head-2-reg-sign  .reg-sign-up{
	font-family: "OpenSansBold", sans-serif;	
	text-decoration: none;
}
.a-head-2-reg-sign  .reg-sign-in{
	font-family: "OpenSans", sans-serif;
	color: #d4d4d4;
}
.a-head-2-reg-sign-wrap {
	float: right;
	display: inline-block;

	position: relative;
}
.a-head-2-reg-sign-country {
	width: 35px;
	float: left;
	margin-left: 5px;
	height: 55px;
	background-position: center;
	background-repeat: no-repeat;
}

.a-head-2-reg-sign-chevron {
	float: left;
	cursor: pointer;
}

.a-head-2-reg-sign-chevron  {
	color: #fff;
	line-height: 55px;
	display: inline-block;
	padding: 0 3px
}

.dropdown-country {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #fff;
	position: absolute;
	top: 55px;
	width: 62px;
	text-align: center;
	border: 1px solid #ddd;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: none;
}
.dropdown-country:after {
	content: '';
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.dropdown-country li {
	width: 30px;
	height: 30px;	
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}







.container {
	max-width: 1170px;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 100%;
}


.s-banner {
	background-color: #d6d6d6;
	height: calc(100vh - 145px);
	width: 100%;
	text-align: center;	
	display: flex;
	align-items: center;
	justify-content: center;
}
.s-banner h1 {
	font-size: 150px;
	text-transform: uppercase;
	color: #fff;
	font-family: "OpenSansBold",sans-serif;
}
.banner {
	display: flex;
	align-items: center;
	height: 100%;
	background-color: #999;
}
.__bold {
	font-family: "OpenSansBold",sans-serif;
}
section {
	min-height: 500px;
	/*border: 1px solid #666;*/
}
section h1 {
	font-family: "OpenSansLight",sans-serif;
	font-size: 36px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
section h2 {
	line-height: 30px;
	font-size: 18px;
	font-family: "OpenSansLight",sans-serif;
	color: #303030;
	text-align: center;
}
.s-generator h1 {
	height: 180px;
	line-height: 140px;
}
.s-generator-bg {
	-webkit-background-size: contain;
	background-size: cover;
	height: 740px;
}
.generator {
	display: flex;
	align-items: center;
}
.s-generator-left-container {
	width: 50%;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	text-align: right;
}

.s-generator-left-container {
	line-height: 30px;
	font-size: 20px;
	color: #4b4b4b;
	font-family: "OpenSansLight",sans-serif;
	padding-right: 40px;
}
.s-generator-left-container span {
	line-height: 30px;
	color: #212121;
}
.s-generator-left-container span.s-generator-left-item__1 {
	font-family: "OpenSansSemiBold",sans-serif;
	font-size: 24px;
}
.s-generator-left-container span.s-generator-left-item__2 {
	font-family: "OpenSansBold",sans-serif;
	font-size: 20px;
}
.s-generator-right {
	width: 598px;
	height: 594px;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}




.s-advantage {
	margin-top: 50px;
	height: 800px;
	background-position: top center;
	background-repeat: no-repeat;
}
.s-advantage-bg {
	min-height: 100vh;
}
.s-advantage-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 100px;
	width: 1092px;
	margin: 100px auto;
}
.advantage-item {
	width: 24%;
	min-height: 200px;
}


.hexagon-container {
  position: relative;
  width: 262px; 
  height: 360.27px;
  background-color: #fff;
  margin: 75.63px 0;
  border-left: solid 9px #efcb07;
  border-right: solid 9px #efcb07;
  text-align: center;
}

.hexagon-container:before,
.hexagon-container:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 172px;
  height: 172px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 29.3690px;
}

.hexagon-container:before {
  top: -92.6310px;
  border-top: solid 12.7279px #efcb07;
  border-right: solid 12.7279px #efcb07;
}

.hexagon-container:after {
  bottom: -92.6310px;
  border-bottom: solid 12.7279px #efcb07;
  border-left: solid 12.7279px #efcb07;
}
.hexagon {
  position: absolute;
  width: 163px; 
  height: 94.11px;
  background-color: #ffec82;
  margin: 47.05px 0 47.05px 42px;
  z-index: 2;
  top: -44px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

}
.hexagon img {
	position: relative;
	z-index: 3;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 81.5px solid transparent;
  border-right: 81.5px solid transparent;
  left: 0;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 47.05px solid #ffec82;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 47.05px solid #ffec82;
}
.hexagon-item {
	font-size: 16px;
	text-align: center;
	width: 100%;
	padding: 150px 10px 0 10px;
	font-family: "OpenSans",sans-serif;
	position: relative;
	z-index: 3;
	line-height: 1.3;
}
.hexagon-item span {
	font-family: "OpenSansBold",sans-serif;
	display: inline;
	line-height: 1.3;
}

















.statistic-circle {
	height: auto;
	margin: 25px 0;
	width: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}
.statistic-circle img {
	max-width: 100%;
	height: auto;
}



.s-video {
	height: 910px;
	position: relative;
}
.s-video:after {
	content: '';
	position: absolute;
	bottom: -36px;
	left: 0;
	width: 1016px;
	height: 331px;
	left: calc(50% - 516px);
	z-index: 2;
	background-image: url(../img/landing/sec-4/people.png);
}
.video {
	width: 850px;
	margin: 0 auto;
	height: 560px;
	padding-top: 80px;
}
.s-video-overflow {
	height: 910px;
	background-position: center;	
	background-size: cover;
}

.s-nature-des {
	font-size: 24px;
	font-family: "OpenSans",sans-serif;
	text-align: center;
	margin: 50px 0 30px;
}
.s-nature-des-2 {
	font-size: 38px;
	font-family: "OpenSansBold",sans-serif;
	text-align: center;
	border-bottom: 1px solid #d9d9d9;
	line-height: 1;
	padding-bottom: 18px;
}
.s-nature-container {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 100px;

}
.s-nature-container-left {
	width: 48%;
	font-family: "OpenSans",sans-serif;
	padding-left: 15px;
}
.s-nature-container-right {
	width: 48%;
	background-position: -125px center;
	background-repeat: no-repeat;

}
.s-nature {
	background-position: bottom center;
	background-repeat: no-repeat;
}
.s-partners {
	padding-bottom: 30px;
}
.s-partners h1 {
	height: 150px;
	line-height: 110px;
}
.partner-container {
	height: 500px;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}
.footer {
	background-color: #1c1c1c;
	height: 510px;
	width: 100%;
	position: relative;
}
.footer-wrap {
	max-width: 950px;
	margin: 0 auto;
}
.f-bottom {
	line-height: 80px;
	height: 80px;
	text-align: center;
	color: #868686;
	font-family: "OpenSansSemiBold",sans-serif;
	background-color: #181818;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.f-bottom span {
	color: #fff;
	font-family: "OpenSansSemiBold",sans-serif;
}
.footer-wrap {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 80px;
}
.f-logo {
	height: 100%;
	width: 30%;
}
.f-logo__logo {
	width: 100%;
	height: 70px;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.f-logo-txt {
	color: #777;
	font-size: 14px;
	line-height: 25px;
	padding: 15px 15px 15px 5px;
}
.f-logo-contacts i {
	font-size: 24px;
	color: #fff;
	padding-left: 5px;
	line-height: 30px;
	width: 30px;
	float: left;
}
.f-logo-contacts a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding-left: 5px;
	line-height: 30px;
	float: left;
}
.f-logo-contacts a.__sm {
	font-size: 12px;
	color: #555;
	float: none;
	line-height: 12px;
	float: left;
	width: 100%;
	padding-left: 35px;
}
.f-des {
	color: #fff;
	font-family: "OpenSansBold",sans-serif;
	line-height: 40px;
	margin: 15px 0 35px 0;
	position: relative;
	
}
.f-des:after {
	position: absolute;
	content: '';
	bottom: -5px;
	left: 0;
	width: 35px;
	height: 5px;
	background-color: #fde428;
	border-radius: 1px;
	transition: 0.4s;
}
.f-des:hover:after {
	width: calc(100% - 20px);
}
.f-social-ul {
	color: #868686;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.f-social-ul li {
	color: #868686;
	padding-bottom: 10px;
}
.f-social-ul a {
	color: #868686;
	padding: 0;
	text-decoration: none;
	font-family: "OpenSansSemiBold",sans-serif;
	font-size: 14px;
	transition: 0.4s;
}
.f-social-ul a:hover {
	color: #fff;
}
.f-social-ul i {
	display: inline-block;
	width: 30px;
	color: #868686;
	transition: 0.4s;
}
.f-social-ul a:hover i {
	color: #fff;
}
.f-social {
	width: 20%;
}
.f-add .f-social-ul i {
	width: 20px;
}
.f-time .f-logo-txt {
	padding: 0;
}
.f-add, .f-social, .f-time {
	width: 23%;
}
.f-logo {
	width: 31%;
}